<form method="post" action="/responder">
    <div class="row">
        <label for="name">Имя покупателя:</label><br />
        <input type="text" name="name" id="name">
    </div>
    <div class="row">
        <label for="comment">Текст комментария:</label><br>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    </div>
    <div class="row">
        <button type="submit">Отправить</button>
    </div>
</form>